.greetings {
  & > div {
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    /* identical to box height */

    letter-spacing: -0.03em;

    color: #222222;
  }

  & > span {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    /* identical to box height */


    color: #707070;
  }
}

.dropdown_corner {
  cursor: pointer;
}

.dropdown_name {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;

  color: #222222;
}

.vendor_id {
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  /* identical to box height */


  color: #707070;
}
