.circle_divider {
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: #EAEAEA;
  margin: 0 8px;
}

.table_date {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  /* identical to box height, or 143% */


  /* Primary text color */

  color: #101010;
}
