*,
html,
body {
    font-family: Inter, monospace;
}

.dashboard--content {
    max-width: calc(100vw - 307px);
    margin-left: auto;
    padding: 4.5em;
    min-height: calc(100vh - 82px);
    background: #F7F7F7;

    .dashboard--page-title {
        font-weight: 500;
        font-size: 1.5em;
        line-height: 29px;
        /* identical to box height */


        color: #222222;
    }
}

.divider {
    border: 1px solid #EAEAEA;
    height: 100%;

    &-horizontal {
        transform: rotate(90deg);
    }
}

.MuiContainer-root {
    padding: 0 !important;
}

a.active {
    div:nth-child(2) {
        color: #000 !important;
    }
}
